<h1>Edit Student Information</h1>

<form action="/add_students/<%= @selected.id %>" method="POST">
    First Name: <input type="String" name="firstname" required value = '<%= @selected.firstname %>' ></input><br/>
    Last Name: <input type="String" name="lastname" required value = '<%= @selected.lastname %>'></input><br/>
	Birthday: <input type="Date" name="birthday" required value = '<%= @selected.birthday %>'>></input><br/>
	Address: <input type="String" name="address" required value = '<%= @selected.address %>'>></input><br/>
	Student ID: <input type="String" name="studentID" required value = '<%= @selected.studentID %>'>></input><br/>
	<input type='hidden' name='_method' value='PUT'>
    <input type='submit' name='Edit'></input>
</form>



